/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2e223b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
  border: 2px solid #2e223b;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #2e223b;
}
